@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap');

.icon-nav {
    position: fixed;
    inset: 3rem 0 3rem 0.3rem;
    width: 3rem;
    list-style: none;
    background-color: #231f2e;
    padding: 0 12px 12px 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(6, 5, 59, 0.25);
    height: 600px;
    z-index: 9997;
}

.icon-nav li {
    margin-top: 12px;
}

.icon-nav li.split {
    margin-top: 80px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.icon-nav a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 8px;
    position: relative;
    font-weight: bold;
}

.icon-nav a i {
    font-size: 20px;
}

.icon-nav a span {
    position: absolute;
    left: calc(100% + 24px);
    background-color: #F4BD0A;
    color: #000000;
    font-size: 15px;
    white-space: nowrap;
    padding: 8px 16px;
    border-radius: 6px;
    transform: scale(0);
    opacity: 0;
    transform-origin: center left;
    transition: 0.15s ease;
}

.icon-nav a span::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #F4BD0A;
    position: absolute;
    left: -5px;
    top: 50%;
    border-radius: 3px;
    transform: translateY(-50%) rotate(45deg);
}

.icon-nav a:hover,
.icon-nav a:focus,
.icon-nav a:active {
    background-color: #F4BD0A;
    color: #000000;
    outline: none;
}

.icon-nav a:hover span,
.icon-nav a:focus span,
.icon-nav a:active span {
    transform: scale(1);
    opacity: 1;
}