* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #000000;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: var(--bg);
    overflow: hidden;
    color: #fff;
    font-family: 'Noto Serif SC', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

iframe {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    border: none;
    z-index: 10;
}

div.content {
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
}
